<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">  
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Vidaloka&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
      <link rel="stylesheet" href="../css/estilos.css">
      <title>Nuestros Pasteles sabor y decoracion que desees</title>
      <meta name="description" content="En nuestra galeria podras ver la variedad que ofrecemos en pasteles, cajas de desayunos y regalos.">
      <meta name="keywords"  content="box, regalos, pasteles">

</head>
<body>
      <header>
            <a href="../index.html"> <img id="logo" src="../img/logoNuevo.jpeg" alt="logo"></a>
            <nav   class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand" href="../index.html">Inicio</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" href="Servicios.html">Servicios <span class="sr-only">(current)</span></a>
                      <a class="nav-link" href="Galeria.html">Galeria</a>
                      <a class="nav-link" href="Nosotros.html">Nosotros</a>
                      <a class="nav-link" href="Contacto.html" tabindex="-1" aria-disabled="true">Contacto</a>
                    </div>
                  </div>
                </nav>
      </header>
      <main>
            <section>
                  <h1>Postres Artesanales Con Mucho Amor</h1>
                  <p class="pGaleria" >Bienvenidos a Nuestra Galeria</p>
                          <div class="imgGaleria">
                            <img src="../img/caja1.jpg"  alt="">
                            <img src="../img/desayuno1.jpg"  alt="">
                            <img src="../img/dulce1.jpg"  alt="">
                            <img src="../img/caja2.jpg"  alt="">
                          </div>
            </section>
      </main>
<footer>
      <div class="redes">
      <a href="https://www.facebook.com/midulcepastelarg-284915715535805/"><img class="logoRedes" src="../img/fb.png" alt="logo facebook"></a>
      <a href="https://www.instagram.com/midulcepastel.arg/?hl=es-la"><img class="logoRedes" src="../img/instagram-logo-6.png" alt="logo instagram"></a> 
      <a href="https://api.whatsapp.com/send/?phone=5491128070310&text&app_absent=0"><img class="logoRedes" src="../img/logows.png" alt="logo whatsapp"></a>
      </div>
      <p class="emailFooter" >midulcepastel.arg@gmail.com</p> 
      <p class="copyR" >copyright © 2021 / Pedro Danglade</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>
</html>
